*{
    padding: 0;
    margin: 0;
}

/* home */
.header{
    background-color: rgba(0,0,0,.3);
    z-index: -1;
}

.home{
    height: 100vh;
    background-image: url(images/drew-coffman-1872.jpg);
    background-size: cover;
    background-position: center center;      
    
}
.navbar{
    background-color:rgba(0, 0, 0, 0.0);
    height: 80px;
    font-family: 'Alegreya', serif;
   
}
.navContainer{
    width: 90%;
    margin: auto;
    height: 80px;
  
}
.imgNav{
    width: 16.618%;
    margin: 17px 0;
    float: left;
    
    
   
}
.imgNav img{
    width: 73%;
    
    
}
.listNav{
    width: 38%;
    float: right;
    
}
.listNav ul{
   
    list-style: none;
}


.listNav ul li{
  
    float: left;
    padding: 30px 15px;
}


.listNav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    
   
}
.contentHome{
    margin-top: 50px;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
}
.contentHome p {
    color: #ccc;
    font-size: 30px;
    margin-bottom: 40px;
}
.contentHome h1{
    color: #fff;
    font-size: 70px;
    margin-bottom: 30px;
     /* font-family: 'Alegreya', serif; */
     font-family:'Alegreya',serif,monospace;

}

.contentHome button{
    padding: 15px 20px;
    border: 2px solid #fff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
    background-color: transparent;
    margin-bottom: 80px;
}
.contentHome button a{
 text-decoration: none;
 color: white;
 width: 100%;
 height: 100%;
}

#more{
    border: none;
    background-color: #8e7754;

}
.scroll-btn{
    display: block;
    width: 32px;
    height: 50px;
    margin: auto;
    border: 2px solid hsla(0,0%,100%,.7);
    border-radius: 24px;
    /* margin-top: 90px;  */
    
}

.spa{
    
    height: 7px;
    width: 5px;
    background-color: hsla(0,0%,100%,.9);
    border-radius: 50px;
  color: transparent;
    
}
.btn button:hover{
    
    background-color: white;
    
}
#more:hover{
    background-color: white;
}
.btn button a:hover{
    color: black;
}
.clr
{
    clear: both;
}

/* about */
#about{
    padding: 40px 0px;
    font-family: 'Alegreya Sans',sans-serif,monospace
}
.about-img{
    width: 50%;
    float: left;
    padding: 15px 0px 0px 0px;
    
    }
    .about-img img{
        width: 80%;
         margin-left: 110px;

    }
    
    
    
    .about-info{
    
        width:50%;
        float:right;
        text-align: center;
        
        padding-top: 50px;
        
    }
    .about-info h2{
        color: #303030;
        text-align: center;
        margin-bottom: 30px;
        font-family:'Alegreya',serif;
        
        font-size: 25px;
    }
    .about-info p{
        color: #686868;
        margin-left:80px ;
        line-height: 1.86em;
        margin-bottom: 20px;
        width: 75%;
        font-size: 20px;
        font-family: 'Alegreya Sans',sans-serif,monospace;
    }
    .about-list{
        float: left;
        margin-left: 80px;
    }
    .about-list ul{
        list-style: none;
        
    }
    .about-list img{
        width: 38px;
        height: 38px;
    }
    .about-list2{
        text-align: left;
        float:inline-end;
        margin-left: 40px;

    }
    .about-list2 ul{
        list-style: none;
    }
    .about-list ul li{
          margin-bottom:20px;
    }
    .about-list2 ul li{
        
        margin-bottom:27px;
  }

    
 
    /* offer */
    
    #offer{
    background-color:#f8f8f8;
    padding:40px 0;
    
        font-family: 'Alegreya Sans',sans-serif,monospace;
    }
    .offer-img{
    width: 50%;
    float: right;
    
    
    }
    .offer-img img{
        width: 80%;
         margin-right: 0px;
         padding: 15px 40px 0;
         text-align: center;

    }
     .offer-info{
    
        width:50%;
        float:left;
        text-align: center; 
        padding-top: 50px;
        
    }
    .offer-info h2{
        color: #303030;
        text-align: center;
        margin-bottom: 30px;
        font-family:'Alegreya',serif;
        font-size: 24px;
    }
    .offer-info p{
        color: #686868;
        margin-left:110px ;
        line-height: 1.86em;
        margin-bottom: 20px;
        width: 75%;
        font-size: 20px;
        font-family: 'Alegreya Sans',sans-serif,monospace;
    }
    /* gallery */

   #gallery{
    padding:40px 0px; 
    text-align: center;
    font-family: 'Alegreya Sans',sans-serif,monospace;
   }
   #gallery p {
    color: #686868;
        line-height: 1.86em;
        margin: 20px 0px;
        /* width: 80%; */
        text-align: center;
        font-family: 'Alegreya Sans',sans-serif,monospace;
        font-size: 20px;
    }
   .baking{
    margin-top: 20px;
        width: 30.5%;
        float: left;
        margin-left: 20px;
       
    }
    
    .baking img{
        width: 90%;
        text-align: center;
        margin-left: auto;
    }
    .baking h4{
        margin: 15px 0px;
        font-family: 'Alegreya',serif,monospace;

    }
    .baking p{
        padding-left: 50px;
        font-size: 20px;
    }
    .gallery-info{
        text-align: center;
        margin: auto;
        padding-left: 80px;
    }
    .gallery-info p{
        width: 80%;
        font-size: 20px;
    }
    
    /* blog */
    #blog{
        padding:40px 0px; 
        background-color: #f8f8f8 ;
        font-family: 'Alegreya Sans',serif;
    }
    .mapouter{
        float: right;
        width: 50%;
        margin-right: 150px;
        padding-top: 20px;
    
    }
    .blog-info{
        width:40%;
        float:left;
        text-align: center;
        margin-left: 30px;
        padding-top: 50px;
      
    }
    
    .blog-info h2{
        color: #303030;
        text-align: center;
        margin-bottom: 30px;
        font-family: 'Alegreya',serif,monospace;
       
    }
    .blog-info p{
        color: #686868;
        margin-left:80px ;
        line-height: 1.86em;
        margin-bottom: 20px;
        width: 75%;
        font-family: 'Alegreya Sans',sans-serif,monospace;
        font-size: 20px;
    }
    .blog-pra2{
        text-align: left;
    }
    .blog-list{
        float: left;
        margin-left: 80px;
    }
    .blog-list ul{
        list-style: none;
        
    }
    .blog-list img{
        width: 38px;
        height: 38px;
    }
    .blog-list2{
        text-align: left;
        float:inline-end;
        margin-left: 45px;

    }
    .blog-list2 ul{
        list-style: none;
    }
    .blog-list ul li{
          margin-bottom:20px;
    }
    .blog-list2 ul li{
        
        margin-bottom:27px;
  }

/* contact */
#contact{
    padding:40px 0px; 
    background-color: #403d38;
    font-size: 20px;
   
    
   }
   
   .contact{
    margin-top: 20px;
        width: 23%;
        float: left;
        margin-left: 20px;
        text-align: left;
        font-family:' Alegreya',sans-serif;
    }
    
    .contact h4{
        color: white;
        margin-bottom: 20px;
    }
    .contact p{
        padding-left: 50px;
        color:#969696;
        line-height: 1.86em;
        margin-bottom: 20px;
        font-family:' Alegreya Sans',sans-serif;
    }
   .contact ul li {  
        border-bottom: 1px solid #303030;
        padding-bottom: 10px;
        margin-bottom: 10px;
        color: #969696;
        list-style: none;
    }

    .contact ul li span img{
        width: 17.25px;
        height: 25px;
    }
    .contact ul li  a{
        text-decoration: none;
        color:#969696 ;
    }
    .about-contact{
        padding-left: 50px; 
    }


    /* footer */
    .footer{
        background-color: #353330;
        padding:40px 0px; 
    text-align: center;
    color: #969696;
    }
    .footer img {
        width: 15%;
          padding-left: 50px;
          margin-bottom: 20px;
    }
    .footer p{
        margin: 0px 0px 20px 50px;
       font-family:' Alegreya Sans',sans-serif,monospace;;
    }
    .icons-footer img{
        width: 3%;
       
    }
    
    